.shipping__container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 110px 0 0 0;
}
 
.shipping__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.shipping__form {
    min-height: 650px;
    margin-top: 30px;
}

.shipping__form > div > input {
    text-transform: none !important;
    background: transparent !important;
}