.payment__container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 120px 0 0 0;
}

.payment__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.payment__form {
    min-height: 400px;
    margin-top: 30px;
}

.payment__radios {
    margin-top: 5rem;
}

.payment__method {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.payment__method > input {
    width: 2.5rem;
    margin: 0 1rem;
}
