.header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: var(--Black);
    z-index: 100;
}

.header__container * {
    color: var(--White);
} 

.header__content {
    width: 95%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.header__content a {
    text-decoration: none;
}

.header__brand {
    font-size: 2.1rem;
}

.header__right {
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__cart, .header__login {
    margin-left: 30px;
}

.header__dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    min-width: 12rem;
    right: 0;
    background-color: var(--Black);
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    border-radius: var(--Border);
    text-align: right;
}

.header__dropdown:hover > .dropdown-content {
    display: block;
}

.cart__qty {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-left: 10px;
    background-color: var(--Red);
    color: var(--White);
    border-radius: 50%;
    line-height: 23px;
    text-align: center;
}