.order__table {
    width: 100%;
    margin: 0 auto;
    background-color: var(--White);
    border-collapse: collapse;
}

.order__table th {
    text-align: center !important;
    background-color: var(--Black);
    color: var(--White);
    border: 1px solid var(--Gray) !important;
    padding: 1rem;
}
.order__table tr:nth-of-type(odd) {
    background-color: var(--Gray);
}

.order__table td {
    border: 1px solid rgba(0,0,0,.3);
    margin: 0;
    /* width: 15.5%; */
    text-align: left;
    padding: 1rem;
}

.order__smallbtn.btn {
    width: 80%;
    height: 4rem;
    padding: 0;
    margin: 1rem auto !important;
    font-size: 1.4rem;
}

.table__paid, .table__delivered {
    width: 9rem;
}

.table__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}