/* BOX RESPONSIVE SETTINGS */

.order__container {
    width: 100vw;
    padding: 110px 0 0 0;
}

.order__content {
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
}

.order__left {
    flex-basis: 65%;
    margin: 0 auto;
}

.order__right {
    flex-basis: 33% ;
    margin: 0 auto;

}

@media all and (max-width: 1024px) {
    .order__content {
        flex-direction: column;
        padding-bottom: 100px;
    }

    .order__left, .order__right {
        width: 100%;
    }

}

/* DETAILS SETTINGS */
.order__right .order__box {
    border: 1px solid var(--Black);
    background-color: var(--Black);
    color: var(--White);
}

.order__box {
    border: 1px solid var(--Gray);
    border-radius: var(--Border);
    background-color: var(--White);
    box-sizing: border-box;
    padding: 1rem 1.8rem;
    margin: 10px auto;
}

.order__title {
    text-transform: uppercase;
}

.order__detail {
    font-weight: 300;
}

.order__detail.row {
    margin: 2rem 0;
}

.order__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top: 1px solid var(--Gray);
    text-align: center;
}

.order__item > img {
    height: 6rem;
    width: 6rem;
}

.item__img {
    width: 7rem;
}

.item__price, .item__qty, .item__subtotal {
    flex-basis: 12%
}

.item__name {
    flex-basis: 50%;
}

.item__name * {
    color: var(--Black) !important;

}

.bold {
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 5px;
}